**/.git
**/.github
**/.idea
**/.vscode
**/.settings
**/.classpath
**/.project
**/*.iml
**/.env
**/.env.*
target
logs
data
maxmind
**/docker-compose*
**/compose*
**/Dockerfile*
**/.dockerignore
**/node_modules
LICENSE
README.md
grafana_dashboard.json
postman_collection.json
